body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: "Poppins";
}

.Container {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 60%;
    width: 22%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px;
    overflow: hidden;
}

.Color {
    height: 300px;
    width: 300px;
    border-radius: 200px;
    position: absolute;
    top: -45%;
    z-index: -1;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.img :nth-child(1) {
    height:80%;
    width:100%;
    z-index: 1;
}

.Health {
    position: absolute;
    top:2%;
    right:5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 10%;
    padding: 0px 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px;
    display: none;
}

.Info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    
}
.Name{
    height: 10%;
    font-size: 24px;
}
.Type{
    font-weight: 700;
    border-radius: 30px;
    padding: 5px 10px;
}

.Details {
    transform: translateY(-10px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80%;
}
.Details h3{
    font-weight: 300;
}

.Attack,
.Defense,
.Speed {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}

button {
    margin-top: 30px;
    width: 130px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px black;
    font-weight: 800;
}

button:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
    transition: 0.5s ease-in;
}

button:active {
    transform: scale(0.90);
    transition: 0.2s ease;
}
@media only screen and (max-width:600px) {
    .Container{
        height:60%;
        width:70%;
    }
    .Details{
        font-size: 10px;
        height:40%;
        width:100%;
    }
     .img :nth-child(1){
        transform: translateY(40px);
    }
    .Color{
        top:-35%;
    }
}
